main {
  display: flex;
  flex-direction: row;
  height: 500px;
}

#editor {
  flex: 1;
  padding: 10px;
  overflow: auto;
}

#editor textarea {
  width: 100%;
  height: 80%;
  line-height: 140%;
}

#browser {
  flex: 1;
  padding: 10px;
  overflow: auto;
}

#browser #result {
  padding: 1rem;
  border: 1px solid #eee;
  border-radius: 5px;
}

#browser input {
  width: 50%;
}

#browser button {
  font-size: small;
  width: auto;
  margin: 0;
}

footer {
  font-size: small;
  font-style: italic;
}